---
const { category, id } = Astro.props;
---
<div id={id} class="border rounded-lg border-gray-300 bg-[#007bff] hover:bg-[#0055ff] text-white font-semibold py-4 px-8 shadow-md cursor-pointer">
    <p class="font-bold uppercase">{category}</p>
</div>