---
import Card from "./Card.astro";
---

<div id="swiperD" class="relative mb-4 hidden">
  <div class="swiper mySwiperDocking w-[900px] mx-auto pb-20">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Card
          image="/150.png/"
          name="Docking1"
          productName="LG-Monitor23x"
          value1="250,20€"
          value2="200kw/h"
          value3="1920x1270"
          distributor="https://www.youtube.com"
        />
      </div>
      <div class="swiper-slide">
        <Card
          image="/150.png/"
          name="Docking1"
          productName="LG-Monitor23x"
          value1="250,20€"
          value2="200kw/h"
          value3="1920x1270"
          distributor="https://www.youtube.com"
        />
      </div>
      <div class="swiper-slide">
        <Card
          image="/150.png/"
          name="Docking1"
          productName="LG-Monitor23x"
          value1="250,20€"
          value2="200kw/h"
          value3="1920x1270"
          distributor="https://www.youtube.com"
        />
      </div>
      <div class="swiper-slide">
        <Card
          image="/150.png/"
          name="Docking1"
          productName="LG-Monitor23x"
          value1="250,20€"
          value2="200kw/h"
          value3="1920x1270"
          distributor="https://www.youtube.com"
        />
      </div>
      <div class="swiper-slide">
        <Card
          image="/150.png/"
          name="Docking1"
          productName="LG-Monitor23x"
          value1="250,20€"
          value2="200kw/h"
          value3="1920x1270"
          distributor="https://www.youtube.com"
        />
      </div>
      <div class="swiper-slide">
        <Card
          image="/150.png/"
          name="Docking1"
          productName="LG-Monitor23x"
          value1="250,20€"
          value2="200kw/h"
          value3="1920x1270"
          distributor="https://www.youtube.com"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-prev left-12 xl:left-44"></div>
  <div class="swiper-button-next right-12 xl:right-44"></div>
  <i id="arrowBack3" class="fa-solid fa-arrow-left fa-2x absolute text-[#007bff] hover:left-9 top-[540px] left-10 cursor-pointer z-10"></i>
</div>

<script>
  var swiper = new Swiper(".mySwiperDocking", {
    slidesPerView: 3,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  let swiperD = document.getElementById("swiperD")
  let categoryContainer = document.getElementById("category-container")
  document.getElementById("arrowBack3").addEventListener("click", function(){
    swiperD.classList.toggle("hidden")
    categoryContainer.classList.toggle("hidden")
  })

  document.getElementById("docking").addEventListener("click", function() {
    swiperD.classList.toggle("hidden")
    categoryContainer.classList.toggle("hidden")
  })
</script>
